<mat-toolbar fxLayoutAlign="space-between center" fxLayoutGap="10px" fxLayout="row" color="primary" fxLayoutGap.xs="6px" fxLayout.xs="column" fxLayoutAlign.xs="center center">
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" style="cursor: pointer;" routerLink="/">
      <div fxHide.xs>
          <i class="fas fa-file-code logo"></i>
      </div>
      <div fxHide.xs>
        <span>Web Development</span>
      </div>
    </div>
    <div class="version">
      <span>Wersja: 3.1.2</span>
    </div>
    <div class="copyright" fxLayout="column">
      <span><a href="https://michalczyz.ml" style="color: white; text-decoration: none;">Michał Czyż</a> &copy;2020</span>
      <span>Wszelkie prawa zastrzeżone</span>
    </div>
  </mat-toolbar>