<!DOCTYPE HTML>
<html>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2"/>
<head>
	<title>Moja Pierwsza Strona</title>
	<style>body { background-color: white; }</style>
</head>
<body>
	<h4 style="color: green; margin: 0;"><div style="margin: 0 auto; text-align: center; margin: 0;">Lista Nauczycieli</div></h4><br />
	<span style="color: navy; font-size: 2em;">Dyrektor Szkoły - Katarzyna Matyka</span><br />
	<span style="color: red; font-family: Tahoma;"><i>Wicedyrektor Szkoły - Anita Kostkiewicz</i></span><br />
	<span style="color: green; font-family: Georgia;">Wychowawca Klasy - Dawid Jałowiecki</span><br />
	<blockquote>Język Polski - Renata Słabicka<br />
	Język Angielski - Beata Szczepanik<br />
	Język Niemiecki - Beata Młynarczyk</blockquote><br />
	<code>Historia - Joanna Szafirska - Dworak</code><br />
	<span style="color: fuchsia; font-size: 3em;">Geografia - Wojciech Paluch</span><br />
	<h2>Chemia - Jolanta Rudzka</h2><br />
	<pre>Matematyka - Jacek Matyka</pre><br />
	<b>Fizyka - Halina Drożak</b><br />
	<span style="color: #00FF00; font-size: 1em;">Biologia - Ewa Banasik</span><br />
	<span style="color: orange;"><small>Wychowanie Fizyczne - Barbara Micińska i Jacek Jabłoński</small></span><br />
	<span style="color: #008080;"><em>Podstawy Przedsiębiorczości - Anna Nakonieczna</em></span><br />
	<p><span style="color: #808000;">Edukacja dla Bezpieczeństwa - Agata Jabłońska</span></p><br />
	<del><span style="color: #C0C0C0;">Religia - Maria Czernisz</span></del><br />
	<span style="color: #FFFF00;"><strong>Informatyka - Anna Nakonieczna</strong></span><br />
	<abbr title="UTK">Urządzenia Techniki Komputerowej</abbr> - Dawid Jałowiecki<br />
	<abbr title="OU">Oprogramowanie Użytkowe</abbr> - Beata Hibszer<br />
	<abbr title="ASW">Administrowanie Systemem Windows</abbr> - Iwona Toborowicz<br />
	<abbr title="ASL">Administrowanie Systemem Linux</abbr> - Adam Turzyniecki<br />
	<abbr title="TSI">Tworzenie Stron Internetowych</abbr> - Barbara Micińska<br />
	<abbr title="ASK">Administrowanie Sieciami Komputerowymi</abbr> - Beata Hibszer<br />
	<abbr title="BHP">Bezpieczeństwo i Higiena Pracy</abbr> - Jolanta Rudzka<br />
	<abbr title="WDŻ"><ins>Wychowanie do Życia w Rodzinie</ins></abbr><ins> - Ewa Gwóźdż</ins><br />
	<p></p>
	<hr />
	<p></p>
	dużo spacji&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pomiędzy tekstem<br />
	&lt; - znak mniejszości, bądź lewy nawias ostrokątny<br />
	&gt; - znak większości, bądź prawy nawias ostrokątny<br />
	&copy; - znak praw autorskich<br />
	&amp; - znak amperstandu<br />
	&#151; - znak pauzy<br />
	&quot; - znak cudzysłowiu<br />
	&frac12; - ułamek<br />
	&frac34; - ułamek<br />
	&frac58; - ułamek<br />
	<p></p>
	<hr />
	<p></p>
	<marquee behavior="alternate" scrolldelay="100" direction="left" scrollamount="10"><h1 style="color: navy">o JEJU!! RUSZAM SIĘ</h1></marquee><br />
	<marquee behavior="alternate" direction="right" scrollamount="20"><h1 style="color: fuchsia">o JEJU!! RUSZAM SIĘ</h1></marquee><br />
	<marquee behavior="alternate" direction="right" scrollamount="30" loop="3"><h1 style="color: lime">o JEJU!! RUSZAM SIĘ</h1></marquee><br />
	<p></p>
	<hr />
</body>
</html>