<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html style="overflow-y: hidden; overflow-x: auto; ">

<head>
  <meta charset="UTF-8">
  <title>Tabela</title>
  <style>body { background-color: white; }</style>
</head>

<body>
  <table border="2px">
    <tr align="center">
      <th>1</th>
      <th>2</th>
    </tr>
    <tr>
      <td>a</td>
      <td>b</td>
    </tr>
    <tr align="center">
      <th>I</th>
      <th>II</th>
    </tr>
  </table>

  <br>

  <table border="2px" width="30%">
    <tr align="center">
      <th>1</th>
      <th>2</th>
    </tr>
    <tr>
      <td>a</td>
      <td>b</td>
    </tr>
    <tr align="center">
      <th>I</th>
      <th>II</th>
    </tr>
  </table>

  <br>

  <table border="1px" bgcolor="yellow" width="30%">
    <tr align="center">
      <th>1</th>
      <th>2</th>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <td>a</td>
      <td>b</td>
      <td>c</td>
      <td>d</td>
    </tr>
    <tr align="center">
      <th colspan="4">1 2 3 i 4</th>
    </tr>
  </table>

  <br>

  <table border="1px">
    <tr>
      <td rowspan="3" bgcolor="lightgreen">1 a i e</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <td>b</td>
      <td>c</td>
      <td>d</td>
    </tr>
    <tr>
      <td>f</td>
      <td>g</td>
      <td>h</td>
    </tr>
    <tr align="center" bgcolor="yellow">
      <th colspan="4">1 2 3 i 4</th>
    </tr>
  </table>

  <br>

  <table border="1px">
    <tr>
      <td rowspan="3">1 i a</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <td>a</td>
      <td>b</td>
      <td>c</td>
    </tr>
  </table>

  <br>

  <table border="1px">
    <tr>
      <td rowspan="3">1 i a</td>
      <td>2</td>
      <td>3</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>a</td>
      <td>b</td>
      <td>c</td>
    </tr>
  </table>

  <p></p>
  <hr>
  <p></p>

  <table border="3px" bordercolor="blue" width="30%">
    <tr align="center">
      <td>1</td>
      <td>2</td>
    </tr>
    <tr align="left">
      <th bgcolor="yellow">a</th>
      <th bgcolor="lightblue">b</th>
    </tr>
  </table>

  <br>

  <table border="3px" bordercolor="green" width="60%">
    <tr align="center" valign="middle" height="55px">
      <td bgcolor="gray">1</td>
      <td bgcolor="orange">2</td>
    </tr>
    <tr align="left">
      <td bgcolor="pink">a</td>
      <td bgcolor="lightgreen">b</td>
    </tr>
  </table>

  <p></p>
  <hr>
  <p></p>

  <table border="3px" bordercolor="blue" width="30%" rules="cols">
    <tr align="center">
      <td>1</td>
      <td>2</td>
    </tr>
    <tr align="left">
      <th>a</th>
      <th>b</th>
    </tr>
  </table>

  <br>

  <table border="6px" bordercolor="red" width="400px" rules="rows">
    <tr align="center">
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr align="left">
      <th>a</th>
      <th>b</th>
      <th>c</th>
    </tr>
  </table>

  <br>

  <table bordercolor="green" border="3px" width="60%" rules="rows">
    <caption align="center"><b>Tabela łącząca zdjęcia i tekst</b></caption>
    <tr>
      <td bgcolor="gray">
        <marquee behavior="scroll" direction="up"><img src="../../../../content/pictures/Kot.jpg" width="200px"></marquee>
      </td>
      <td bgcolor="orange">
        <marquee behavior="scroll" direction="down"><img src="../../../../content/pictures/Pies.jpg" width="200px"></marquee>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center" bgcolor="pink">Połączone dwie kolumny!!<br>
        <marquee behavior="alternate"><img src="../../../../content/pictures/Gekon.jpg" width="200px"></marquee>
      </td>
    </tr>
  </table>

  <br>

  <table border="1px" cellspacing="10px" bordercolor="purple">
    <tr>
      <td rowspan="2">1 i a</td>
      <td>2</td>
      <td>3</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>a</td>
      <td>b</td>
      <td>c</td>
    </tr>
  </table>

  <br>

  <table border="1px" bordercolor="red" cellpadding="8px">
    <tr>
      <td rowspan="2">1 i a</td>
      <td>2</td>
      <td>3</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>a</td>
      <td>b</td>
      <td>c</td>
    </tr>
  </table>

  <br>

  <table valign="top">
    <tr>
      <td valign="top">
        <table border="1px" width="500px">
          <caption>Scalanie Kolumn</caption>
          <tr>
            <th colspan="3">Kategoria <br>klienta</th>
          </tr>
          <tr>
            <th bgcolor="yellow">Usługi</th>
            <th bgcolor="yellow">Srebrny</th>
            <th bgcolor="yellow">Złoty</th>
          </tr>
          <tr>
            <td>Pielęgnacja włosów</td>
            <td>X</td>
            <td>X</td>
          </tr>
          <tr>
            <td>Zniżki na masaż</td>
            <td>X</td>
            <td>X</td>
          </tr>
          <tr>
            <td>Nieograniczony dostęp do jacuzzi</td>
            <td>&nbsp;</td>
            <td>X</td>
          </tr>
        </table>
      </td>
      <td valign="top">
        <table border="1px" width="500px">
          <caption>Scalanie Wierszy</caption>
          <tr>
            <th rowspan="5">Usługi <br>Premium</th>
          </tr>
          <tr>
            <th bgcolor="yellow">Usługi</th>
            <th bgcolor="yellow">Srebrny</th>
            <th bgcolor="yellow">Złoty</th>
          </tr>
          <tr>
            <td>Pielęgnacja włosów</td>
            <td>X</td>
            <td>X</td>
          </tr>
          <tr>
            <td>Zniżki na masaż</td>
            <td>X</td>
            <td>X</td>
          </tr>
          <tr>
            <td>Nieograniczony dostęp do jacuzzi</td>
            <td>&nbsp;</td>
            <td>X</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <br>

  <table cellspacing="3" cellpadding="3" border="5" bordercolor="magenta">
    <tr>
      <th colspan="4" align="center" bgcolor="yellow">OCENY Z TRZECH ULUBIONYCH PRZEDMIOTÓW</th>
    </tr>
    <tr>
      <td bgcolor="lightgreen" rowspan="3">KLASA I d</td>
      <td bgcolor="orange">MATEMATYKA</td>
      <td bgcolor="pink">GEOGRAFIA</td>
      <td bgcolor="lightblue">WF</td>
    </tr>
    <tr>
      <td bgcolor="orange">
        <font color="green">3</font>,4,<font color="red">5</font>,6,<font color="red">5</font>,5,3
      </td>
      <td bgcolor="pink">4,<font color="red">5</font>,5,4</td>
      <td bgcolor="lightblue">5,5,<font color="green">6</font>,6</td>
    </tr>
    <tr>
      <td bgcolor="orange">sprawdzian w śr 22 X</td>
      <td bgcolor="pink">kartkówka w pt 27 X</td>
      <td bgcolor="lightblue">brak</td>
    </tr>
  </table>
  <br>
  <br>
</body>

</html>