<!DOCTYPE HTML>
<html style="overflow-y: hidden; overflow-x: auto; ">
  <head>
		<meta charset="utf-8"/>
		<link href="https://fonts.googleapis.com/css?family=K2D|Oswald|Roboto" rel="stylesheet">
		<title>Tabela Zaliczenie</title>
		<style>body { background-color: white; }</style>
	</head>
	<body>
		<table border="4" cellspacing="15px" cellpadding="15px">
			<tr align="center">
				<th bgcolor="cyan" colspan="6"><font face="K2D" size="6">atrakcyjne miejsca</font></th>
			</tr>
			<tr align="center">
				<td bgcolor="red"><font face="Oswald">LP</font></td>
				<td bgcolor="yellow"><font face="Oswald">PAŃSTWO</font></td>
				<td bgcolor="lightgreen"><font face="Oswald">MIASTO</font></td>
				<td bgcolor="orange"><font face="Oswald">DOSTĘP DO MORZA</font></td>
				<td bgcolor="lightblue"><font face="Oswald">CIEKAWE MIEJSCA</font></td>
				<td bgcolor="lightgrey"><font face="Oswald">KLUB SPORTOWY</font></td>
			</tr>
			<tr align="center">
				<td bgcolor="red">1</td>
				<td bgcolor="yellow">Stany Zjednoczone<br /><img src="../../../../content/pictures/US_Flag.png" width="100px"/></td>
				<td bgcolor="lightgreen">Los Angeles<br /><img src="../../../../content/pictures/LA.jpg" width="100px"/></td>
				<td bgcolor="orange">Ocean Spokojny<br /><img src="../../../../content/pictures/Woda_US.jpg" width="100px"/></td>
				<td bgcolor="lightblue" align="left">
					<ul>
						<li>Plaża Santa Monica</li>
						<li>Walt Disney Concert Hall</li>
						<li>Hollywood</li>
					</ul>
					<br />
					<img src="../../../../content/pictures/Santa_Monica.jpg" width="100px"/>
				</td>
				<td bgcolor="lightgrey">Los Angeles Galaxy<br /><marquee behaviour="scroll" direction="up"><img src="../../../../content/pictures/LA_Stadion.jpg" width="100px"/></marquee></td>
			</tr>
			<tr align="center">
				<td bgcolor="red">2</td>
				<td bgcolor="yellow">Włochy<br /><img src="../../../../content/pictures/Italia_Flag.png" width="100px"/></td>
				<td bgcolor="lightgreen">Neapol<br /><img src="../../../../content/pictures/Napoli.png" width="100px"/></td>
				<td bgcolor="orange">Morze Śródziemne<br /><img src="../../../../content/pictures/Napoli.png" width="100px"/></td>
				<td bgcolor="lightblue" align="left">
					<ul>
						<li>Katedra San Gennaro</li>
						<li>Zabytkowy Neapol</li>
						<li>Cmentarz Fontanelle</li>
					</ul>
					<br />
					<img src="../../../../content/pictures/Neapol.jpg" width="100px"/>
				</td>
				<td bgcolor="lightgrey">S.S.C. Napoli<br /><marquee behaviour="scroll" direction="up"><img src="../../../../content/pictures/Napoli_Stadion.jpg" width="100px"/></marquee></td>
			</tr>
		</table>
		<br>
		<br>
	</body>
</html>