<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Menu</title>
    <style>body { background-color: white; }</style>
    <style>
        div.wrapper {
            text-align: center;
        }
        div.media {
            margin: 0;
        }
        h1 {
            font-family: cursive;
            line-height: 0;
            font-size: 20pt;
        }
        hr {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="media">
                <h1>Przykład Wideo w HTML5:</h1>
            <video src="../../../content/media/Universe_Sandbox_Trim.mp4" type="video/mp4" width="500px" controls fullscreen></video><br /><br />
        </div>
        <br /><hr /><br />
        <div class="media">
                <h1>Przykład Audio w HTML5</h1>
            <audio src="../../../content/media/Separation.mp3" type="audio/mp3" width="500px" controls></audio><br />
        </div>
    </div>
    <br>
    <br>
</body>
</html>