<div class="light-theme" id="main_wrapper">
<mat-toolbar color="primary" fxLayoutAlign="space-between center" class="main">
  <div>
    <button class="title-button" mat-button routerLink="/">
      <i class="fas fa-file-code logo"></i>
      <span class="title" (click)="title='Strona Główna'">Tworzenie Stron Internetowych</span>
    </button>
  </div>
  <div fxHide.lt-md>
      <mat-slide-toggle (click)="changeTheme()" class="theme" [(ngModel)]="themeToggle">Dark theme</mat-slide-toggle>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation" [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="isLargeScreen()">
    <mat-nav-list>
      <div fxHide.gt-sm fxLayoutAlign="center center">
        <mat-slide-toggle (click)="changeTheme()" [(ngModel)]="themeToggle" class="theme-mobile">Dark theme</mat-slide-toggle>
      </div>
      <mat-expansion-panel [expanded]=true>
        <mat-expansion-panel-header>
          <h2 matSubheader>Podstawy HTML</h2>
        </mat-expansion-panel-header>
        <a *ngFor="let item of HtmlBasics" mat-list-item (click)="isLargeScreen() || sidenav.close()" [routerLink]="[item.route]"
          routerLinkActive="list-item-active">
          <mat-icon matListIcon> {{ item.icon }} </mat-icon>
          {{item.title}}
        </a>
        <mat-divider></mat-divider>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]=true>
        <mat-expansion-panel-header>
          <h2 matSubheader>Podstawy CSS</h2>
        </mat-expansion-panel-header>
        <a *ngFor="let item of CssBasics" mat-list-item (click)="isLargeScreen() || sidenav.close()" [routerLink]="[item.route]"
          routerLinkActive="list-item-active">
          <mat-icon matListIcon> {{ item.icon }} </mat-icon>
          {{item.title}}
        </a>
        <mat-divider></mat-divider>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]=true>
        <mat-expansion-panel-header>
          <h2 matSubheader>Strony HTML5</h2>
        </mat-expansion-panel-header>
        <a target="_BLANK" href="../content/html-pages/uklad1/index.html" mat-list-item>
          <mat-icon matListIcon>view_module</mat-icon>Układ 1
        </a>
        <a target="_BLANK" href="../content/html-pages/uklad2/uklad2.html" mat-list-item>
          <mat-icon matListIcon>view_quilt</mat-icon>Układ 2
        </a>
        <a target="_BLANK" href="../content/html-pages/zwierzeta/index.html" mat-list-item>
          <mat-icon matListIcon>pets</mat-icon>Zwierzęta
        </a>
        <a target="_BLANK" href="../content/html-pages/galeria/index.html" mat-list-item>
          <mat-icon matListIcon>collections</mat-icon>Galeria
        </a>
        <a target="_BLANK" href="../content/html-pages/menu/index.html" mat-list-item>
          <mat-icon matListIcon>menu</mat-icon>Menu
        </a>
        <a target="_BLANK" href="../content/html-pages/pozycjonowanie/index.html" mat-list-item>
          <mat-icon matListIcon>open_with</mat-icon>Pozycjonowanie
        </a>
        <a target="_BLANK" href="../content/html-pages/pozycjonowanie1/index.html" mat-list-item>
          <mat-icon matListIcon>open_with</mat-icon>Pozycjonowanie 1
        </a>
        <a target="_BLANK" href="../content/html-pages/pozycjonowanie2/index.html" mat-list-item>
          <mat-icon matListIcon>open_with</mat-icon>Pozycjonowanie 2
        </a>
        <mat-divider></mat-divider>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]=true>
        <mat-expansion-panel-header>
          <h2 matSubheader>Animacje</h2>
        </mat-expansion-panel-header>
        <a *ngFor="let item of Animations" mat-list-item (click)="isLargeScreen() || sidenav.close()" [routerLink]="[item.route]"
          routerLinkActive="list-item-active">
          <mat-icon matListIcon> {{ item.icon }} </mat-icon>
          {{item.title}}
        </a>
        <mat-divider></mat-divider>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]=true>
        <mat-expansion-panel-header>
          <h2 matSubheader>Dokumenty</h2>
        </mat-expansion-panel-header>
        <a download href="../content/docs/lista.docx" mat-list-item>
          <mat-icon matListIcon>list</mat-icon>Lista - Word
        </a>
        <a target="_BLANK" href="../content/docs/lista.pdf" mat-list-item>
          <mat-icon matListIcon>toc</mat-icon>Lista - PDF
        </a>
        <a download href="../content/files/Budowa-Strony-HTML5.zip" mat-list-item>
          <mat-icon matListIcon>view_stream</mat-icon>Budowa Strony HTML5
        </a>
        <mat-divider></mat-divider>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]=true>
        <mat-expansion-panel-header>
          <h2 matSubheader>Multimedia</h2>
        </mat-expansion-panel-header>
        <a *ngFor="let item of Multimedia" mat-list-item (click)="isLargeScreen() || sidenav.close()" [routerLink]="[item.route]"
          routerLinkActive="list-item-active">
          <mat-icon matListIcon> {{ item.icon }} </mat-icon>
          {{item.title}}
        </a>
        <mat-divider></mat-divider>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="sub">
      <header fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button class="menu" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 class="name"> {{ title }}</h1>
      </header>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>