mat-sidenav-container {   
    height: calc(100vh - 64px);
}
mat-sidenav {
    width: 400px;
}
@media only screen and (max-width: 720px) {
    mat-sidenav {
        width: 300px;
    }
}
.logo {
    font-size: 1.5rem;
    margin-right: 12px;
}
.title,
.theme {
    font-size: 1.3rem;
    font-weight: 300;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
}
.menu {
    margin: 0 15px;
}
.name {
    font-size: 1.8rem;
    font-weight: 300;
}
.list-item-active {
    color: #388e3c;
}
.sub {
    height: 80px;
    box-shadow: inset 0px 11px 11px -9px rgba(0,0,0,0.75);
}
.theme-mobile {
    margin: 0.75rem;
}