<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html style="overflow-y: hidden; overflow-x: auto; ">
<meta charset="UTF-8" />

<head>
  <title>Zdjęcia</title>
  <style>body { background-color: white; }</style>
</head>

<body>
  <marquee behavior="alternate" scrollamount="5" direction="left"><img src="../../../../content/pictures/Pies.jpg" border="1"
      width="200px" /></marquee>
  <marquee behavior="alternate" scrollamount="10" direction="right"><img src="../../../../content/pictures/Kot.jpg" border="2"
      width="200px" /></marquee>
  <marquee behavior="alternate" scrollamount="15" direction="left"><img src="../../../../content/pictures/Zyrafa.jpg" border="3"
      width="200px" /></marquee>
  <marquee behavior="alternate" scrollamount="20" direction="right"><img src="../../../../content/pictures/Gekon.jpg" border="4"
      width="200px" /></marquee>
  <marquee behavior="alternate" scrollamount="25" direction="left"><img src="../../../../content/pictures/Spongebob.png" border="5"
      width="200px" /></marquee>

  <marquee behavior="alternate" scrollamount="30" direction="right"><img src="../../../../content/pictures/HTML.jpg" border="6"
      width="200px" /></marquee>
  <marquee behavior="alternate" scrollamount="35" direction="left"><img src="../../../../content/pictures/Hacker.jpg" border="7"
      width="200px" /></marquee>
  <marquee behavior="alternate" scrollamount="40" direction="right"><img src="../../../../content/pictures/Owoc.jpg" border="8"
      width="200px" /></marquee>
</body>

</html>