<!DOCTYPE HTML>
<html style="overflow-y: hidden; overflow-x: auto; ">
<meta charset="Unicode" />

<head>
  <title>Listy</title>
  <style>body { background-color: white; }</style>
</head>

<body>
  <h4 style="margin: 0;">
    <font color="red">Przedmioty</font>
  </h4>

  <ul>
    <h3>PRZEDMIOTY HUMANISTYCZNE</h3>
    <li>HISTORIA</li>
    <li>JĘZYK POLSKI</li>
    <li>WOS</li>
  </ul>
  <ul type="circle">
    <h3>PRZEDMIOTY ŚCISŁE</h3>
    <li>MATEMATYKA</li>
    <li>CHEMIA</li>
  </ul>
  <ul>
    <h3>PRZEDMIOTY OGÓLNOKSZTAŁCĄCE</h3>
    <li>WF</li>
    <li>RELIGIA</li>
    <li>WDŻ</li>
  </ul>
  <ul>
    <h3>ULUBIONE PRZEDMIOTY</h3>
    <li>WF</li>
    <li>MATEMATYKA</li>
  </ul>
  <ol>
    <h3>PRZEDMIOTY INFORMATYCZNE</h3>
    <li><span style="color: magenta;">TSI</span></li>
    <li style="color: green;">ADMINISTROWANIE SYSTEMEM WINDOWS</li>
    <li style="color: blue;">ADMINISTROWANIE SYSTEMEM LINUX</li>
    <li style="color: red;" value="6">OU</li>
  </ol>
  <ol type="i">
    <h3>PRZEDMIOTY INFORMATYCZNE</h3>
    <li>ASK</li>
    <li>UTK</li>
  </ol>
  <ol type="I">
    <h3>JĘZYKI</h3>
    <li>JĘZYK ANGIELSKI</li>
    <li>JĘZYK NIEMIECKI</li>
  </ol>
  <ol type="a">
    <h3>PRZEDMIOTY ZNIENAWIDZONE</h3>
    <li>TSI</li>
    <li>INFORMATYKA</li>
  </ol>
  <ol type="A" start="4">
    <h3>PRZEDMIOTY DODATKOWE</h3>
    <li>WDŻ</li>
    <li>DORACTWO ZAWODOWE</li>
  </ol>

  <p></p>

  <h3>PODZIAŁ KLAS NA ZAWODY</h3>

  <p></p>

  <dl>KLASA I a
    <dd>technik poligraf</dd>
    <dd>technik graficznych procesów cyfrowych</dd>
  </dl>
  <dl>KLASA I c
    <dd>technik informatyk</dd>
  </dl>
  <dl>KLASA I d
    <dd>technik mechatronik</dd>
    <dd>technik informatyk</dd>
  </dl>

  <ol type="I">
    <li>Drzewa
      <ol>
        <li>Liściaste:
          <ol type="a">
            <li>dąb</li>
            <li>wierzba</li>
            <li>brzoza</li>
          </ol>
        </li>
        <li>Iglaste:
          <ol type="a">
            <li>sosna</li>
            <li>modrzew</li>
          </ol>
        </li>
      </ol>
    </li>
  </ol>
  <br>
  <br>
</body>

</html>