* {
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    text-align: center;
    width: 100%;
    background: #f1f1f1;
}
header {
    margin: 20px;
    border-radius: 10px;
    background: white;
    height: 100px;
    padding: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    border-radius: 10px;
    padding: 5px 0 5px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    width: 60%;
    margin: 20px auto 20px;
}
main {
    background: white;
    float: left;
    width: calc(100% - 400px);
    text-align: justify;
    padding: 5px;
    height: 500px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    overflow-x: auto;
}
aside {
    background: white;
    float: right;
    width: 340px;
    height: 500px;
    border-radius: 10px;
    margin-right: 20px;
}
footer {
    margin: 20px auto 20px;
    padding: 20px;
    background: white;
    clear: both;
    border-radius: 10px;
    width: 60%;
}
a#nav {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin: 0 40px 0;
    transition: color 1s ease;
}
a#nav:hover {
    color: blue;
}
img {
    width: 300px;
    margin: 15.5px;
}
span {
    font-size: 18px;
}