<!DOCTYPE HTML>
<html style="overflow-y: hidden; overflow-x: auto; ">
<meta charset="UTF-8" />

<head>
  <title>Michał Czyż - Listy</title>
</head>
<style>
  body {
    background: black;
  }
</style>

<body bgcolor="black" style="font-family: Consolas; font-size: 14pt;">
  <ol type="I" style="color: red; margin: 0;">
    <li>Języki Programowania:
      <ol type="1">
        <li>Sieciowe:
          <ol type="a">
            <li>Podstawowe:
              <ul type="circle">
                <li>HTML5</li>
                <li>CSS3</li>
              </ul>
            </li>
            <li style="color: yellow;">Client-Side:
              <ul type="circle">
                <li>JavaScript</li>
                <li>Python</li>
              </ul>
            </li>
            <li style="color: green;">Server-Side:
              <ul type="circle">
                <li style="color: lightgreen;">PHP</li>
                <li style="color: lime;">MySQL</li>
              </ul>
            </li>
          </ol>
        <li style="color: magenta;">Lokalne:
          <ol start="20" type="a">
            <li>C++</li>
            <li value="19">VB.NET</li>
            <li value="9">C#</li>
          </ol>
      </ol>
    </li>
    <li style="color: royalblue;">Języki na Świecie:
      <ol type="1">
        <li>Europa:
          <ol type="a">
            <li>Angielski</li>
            <li>Niemiecki</li>
            <li>Polski</li>
          </ol>
        </li>
        <li>Azja:
          <ol type="a">
            <li>Rosyjski</li>
            <li>Chiński</li>
            <li>Japoński</li>
          </ol>
        </li>
      </ol>
    </li>
  </ol>
  <dl style="color: white;">Notatka z Wikipedii o języku Java:
    <dd>współbieżny, oparty na klasach, obiektowy język programowania ogólnego zastosowania. Został stworzony przez
      grupę roboczą pod kierunkiem Jamesa Goslinga z firmy Sun Microsystems. Java jest językiem tworzenia programów
      źródłowych kompilowanych do kodu bajtowego, czyli postaci wykonywanej przez maszynę wirtualną. Język cechuje się
      silnym typowaniem.</dd>
    <br />
    <dd>Jego podstawowe koncepcje zostały przejęte z języka Smalltalk (maszyna wirtualna, zarządzanie pamięcią) oraz z
      języka C++ (duża część składni i słów kluczowych).</dd>
  </dl>
  <br>
  <br>
</body>

</html>