* {
	margin: 0;
	padding: 0;
}
header {
	margin: 40px auto;
	text-align: center;
}
h1 {
	margin: 20px auto;
	z-index: -1;
}
ul.pion {
	margin: 0;
	list-style-type: none;
}
li.pion {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	padding: 10px 20px;
	display: block;
	margin: 5px auto;
	width: 300px;
	transition: box-shadow 0.3s ease;
}
li.pion:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

a {
	font-size: 1.3rem;
	color: black;
}

a::before {
	height: 2px;
}

ul.pion2 {
	margin: 0;
	list-style-type: none;
}
li.pion2 {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	padding: 10px 20px;
	display: block;
	margin: 5px auto;
	width: 300px;
	transition: box-shadow 0.3s ease;
	border-radius: 60px;
}
li.pion2:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
ul.pion3 {
	margin: 0;
	list-style-type: none;
}
li.pion3 {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	padding: 10px 20px;
	display: inline;
	margin: 5px auto;
	transition: box-shadow 0.3s ease;
	white-space: nowrap;
}
li.pion3:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
a.pion3 {
	width: 50px;
}

ol.dropdown {
	margin: 0;
	list-style-type: none;
}

li.main_dropdown {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	padding: 10px 20px;
	display: inline;
	margin: 10px auto;
	transition: box-shadow 0.3s ease;
	white-space: nowrap;
	position: relative;
}

li.main_dropdown:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

ul.dropdown {
	display: none;
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	z-index: 99999;
}

ul.super {
	display: none;
	position: absolute;
	top: 45px;
	right: -102px;
	z-index: 99999;
	width: 100px;
}

li.dropdown:hover ul.super {
	display: block;
	z-index: 9999;
}

li.main_dropdown:hover ul.dropdown {
	display: block;
	z-index: 9999;
}

li.dropdown {
	display: block;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	padding: 10px 20px;
	white-space: nowrap;
	z-index: 99999;
	background: white;
}